.container {
  display: flex;
}

.leftcontainer {
  display: flex;
  flex-direction: column;
}

.listbox {
  background-color: bisque;
  width: 250px;
  padding: 5px;
}

.bluebox {
  background-color: aqua;
  width: 260px;
  height: 100%;
}

.textbox {
  position: relative;
  background-color: darkgray;
}

.bottomContainer {
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: limegreen;
}
