.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bluecont {
  height: 335px;
  width: 520px;
  background-color: blue;
  text-align: start;
  font-size: 14px;
  color: white;
}
