* {
  margin: 0%;
}

header {
  background-color: #eaeaea;
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
}

footer {
  background-color: black;
  text-align: center;
  height: 20px;
}

.phref {
  color: #ffff80;
}

span.underline {
  color: #ffff80;
  text-decoration: underline;
}
span.underline a {
  color: #ffff80;
  text-decoration: none;
}

.wrapper {
  display: table;
  width: 100%;
  min-width: 1000px;
  max-width: fit-content;
}

.column-1 {
  display: table-cell;
  padding-left: 10px;
  padding-right: 5px;
  background: #c8fc98;
  width: 25%;
  height: 380px;
  max-width: fit-content;
}
.column-2 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  display: table-cell;
  background: white;
}
.column-3 {
  display: table-cell;
  padding: 10px;
  background: #fde95e;
  width: 150px;
}
b {
  font-size: 14px;
}
i {
  font-weight: bold;
  color: red;
  font-size: 14px;
}

p {
  font-size: 14px;
}
