* {
  margin: 0%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.block {
  margin: 20px;
  display: inline;
  width: 140px;
  height: 75px;
  background-color: aquamarine;
  font-size: 12px;
  text-align: left;
}

.clearprop {
  margin: 10px;
  background: bisque;
}
